/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*RESET CSS, this removes all default styles that some browsers have*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
  background-color: rgba(231, 231, 216, 0.87);
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 255, 255);
  gap: 1rem;
  border-radius: 40px;
  max-width: 550px;
  height: 470px;
}

.return-image-container{
  height: 50px;
  background: gainsboro;
  border: 3px solid white;
  border-radius: 50%;
}

.return-image-container:hover {
  cursor: pointer;
}

.return-image{
  height: 100%;
}

.bank-cards-container{
  height: 50px;
}

.bank-cards-image{
  height: 100%;
}


.payment-method-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(circle at 117.66% 61.93%, #00abbe 0, #00aac7 7.14%, #00a9cf 14.29%, #00a8d6 21.43%, #00a6dc 28.57%, #00a4e0 35.71%, #28a1e3 42.86%, #489ee5 50%, #609be5 57.14%, #7497e4 64.29%, #8693e1 71.43%, #968fdd 78.57%, #a58bd8 85.71%, #b288d1 92.86%, #bd84c9 100%);
  color:rgb(251, 255, 255);
  font-size: 25px;
  font-weight: 700;
  border-radius: 40px 40px 0 0;
  padding: 1rem;
  gap: 1rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 2rem;
}

.card-number-box{
  display: flex;
  flex-direction: column;
}

#card-number {
  width: 100%;
}


input{
  border:1px solid #000000;
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

.container{
  display: flex;
  flex-direction: row;
}

.user-information{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-security-information{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button-container{
    display: flex;
    justify-content: center;
}
button{
  background-image: radial-gradient(circle at 117.66% 61.93%, #00abbe 0, #00aac7 7.14%, #00a9cf 14.29%, #00a8d6 21.43%, #00a6dc 28.57%, #00a4e0 35.71%, #28a1e3 42.86%, #489ee5 50%, #609be5 57.14%, #7497e4 64.29%, #8693e1 71.43%, #968fdd 78.57%, #a58bd8 85.71%, #b288d1 92.86%, #bd84c9 100%);
  color: rgb(251, 255, 255);
  border: none;
  border-radius: 20px;
  width:170px;
  padding: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 18px;
  transition: box-shadow 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  box-shadow:  0 5px 25px rgba(95, 17, 109, 0.977);
}

.modal-body{
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background: white;
  width: 450px;
  height: 350px;
  gap: 0rem;
  border-radius: 30px;
  animation-name: modal;
  animation-duration: 1s;
}

.check-container{
  height: 50px;
}

.check-image{
  height: 100%;
}

@keyframes modal {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0;
  box-sizing: border-box;
  background-color: white;
}